* {
    margin: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 


body {
background-color: #788dfe;
}

h1 {
   text-align: center;
   padding: 40px;
   background-color:#375efd ;
   color: white;
   font-size: 50px;
}

img {
        text-align: center;
        width: 750px;
        height: 550px;
        padding: 50px;
        margin-right: 4%;
        margin-left: %;
}

div {
     float: left;
     display: flex;
     display: block;
}

p {
    font-size: 20px;
}

a{
    text-align: center;
}

a :visited {
    color: black;
    background-color: black;
    font-family: cursive;
}

a:link {
    color: black;
    font-family: cursive;
    font-size: 20px;
     }

     h2 {
        background-color:#4280a9 ;
        font-size: 30px;
     }

     ul{
        text-align: center;
     }

   footer {
    background-color: #16757e;
    color: white;
    padding: 20px;
    text-align: center;
   }